@import url('https://fonts.googleapis.com/css?family=Lobster');

#content{
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-columns: repeat(12,8.333%);
  grid-template-rows: repeat(12,8.333%);
}

nav{
  grid-column: 1/-1;
  grid-row: 1/1;
  text-align: center;
  background: #262626;
  grid-template-columns: repeat(12,8.333%);
}


nav p {
  margin: 18px;
  font-weight: bold;
  color: white;
  font-size: 25px;
  font-family: 'Lobster', cursive;
}

.sidebar{
  grid-column: 1/3;
  grid-row: 2/-1;
  background: #333333;
}

.project{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.project > *{
  flex: 1 1 100%;
}

.todo-content{
  grid-column: 3/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(12,8.3333%);
  grid-template-rows: repeat(12,8.3333%);
}

.todo-content .New-Task {
  grid-column: 1/-1;
  grid-row: 1/1;
  background: ;
  text-align: center;
  background: #595959;
}

.New-Task button{
  margin: 9px;
  padding: 12px;
  width: 155px;
  border: 0px;
  border-radius: 20px;
  background: #00b33c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Project-area{
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(12,8.333%);
  grid-template-rows: repeat(12,8.333%);
}

.project p:focus{
  background: grey;
  outline: 0;
}

.project p {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 21px;
  font-weight: bold;
  font-family: Arial;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.project li{
  padding-top: 9px;
  padding-left: 40px;
  font-weight: bold;
  font-family: Arial;
  font-size: 15px;
  cursor: pointer;
  color: white;
}


.Todo-card{
  z-index: 5;
  display: grid;
  grid-column: 3/-3;
  grid-row: 2/-2;
  background: #f2f2f2;
  grid-template-columns: repeat(12,8.333%);
  grid-template-rows: repeat(12,8.333%);
  box-shadow: 5px 10px 24px;
  transform: scale(0);
  transition: transform .4s;
}


.close-todo-card{
  justify-self: right;
  grid-column: 1/-1;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.notes{
  grid-column: 2/7;
  grid-row: 2/-2;
  background: white;
  display: grid;
  grid-template-columns: repeat(12,8.333%);
  grid-template-rows: repeat(12,8.333%);
}

.title{
  grid-column: 1/-1;
  grid-row: 1/3;
  border: 0;
  padding: 0 12px;
  font-size: 22px;
  font-weight: bold;
}

textarea{
  grid-column: 1/-1;
  grid-row: 3/-1;
  border: 0;
  padding: 11px;
  resize: none;
  box-sizing: border-box;
}

.options{
  grid-column: 7/-2;
  grid-row: 2/-2;
  display: grid;
  grid-template-columns: repeat(12,8.333%);
  grid-template-rows: repeat(12,8.333%);
  text-align: center;
}

.priority-title{
  grid-column: 1/-1;
  grid-row: 2/2;
  font-size: 20px;
  padding-top: 21px;
  font-weight: bold;
}

.priorities{
  text-align: center;
  grid-column: 1/-1;
  grid-row: 4/4;
}

.priorities button{
  border: 0;
  border-radius: 20px;
  width: 83px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}


.High{
  background: #ff5050;
}

.Medium{
  background: #009933;
}

.Low{
  background: #cccc00;
}

.priority{
  background: black;
}


.date{
  text-align: center;
  grid-column: 1/-1;
  grid-row: 8/9;
}

.Add-Task{
  text-align: center;
  grid-column: 1/-1;
  grid-row: 10/-2;
}

.Add-Task button{
  padding: 27px;
  width: 199px;
  border: 0;
  border-radius: 44px;
  background: #00b33c;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

input[type="text"]:focus{
        outline:0;
    }

textarea:focus{
            outline:0;
        }

button:focus{
  outline:0;
}

button{
  transition: box-shadow .4s ;
}

button:hover {
  box-shadow: 0px 0px 50px black;
}

.set-date-title{
  grid-column: 1/-1;
  grid-row: 6/7;
  font-size: 20px;
  padding-top: 21px;
  font-weight: bold;
}

.new-project-card{
  display: grid;
  z-index: 5;
  border:3px solid black;
  grid-column: 5/span 4;
  grid-row: 3/span 5;
  background: white;
  transform: scale(0);
  transition: transform .4s;
}

.close-project-card{
  justify-self: right;
}

.new-project-card svg {
  background: white;
}
.new-project-card input{
  padding: 6px 21px;
  font-size: 20px;
}

.new-project-card button{
  border:0;
  background: #00b33c;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.project-cards{
  background: #737373;
  padding: 22px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,287px));
  grid-gap: 20px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow-y: auto;
}
.note{
  max-width: 300px;
  min-width: 150px;
  height: 330px;
  box-shadow: 5px 3px 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: scale(0);
  transition: transform .4s;
}

.note div{
  flex:0 1 24px;
  background: white;
  display: flex;
  justify-content: flex-end;
}

.note input {
  flex:0 1 ;
  border: 0;
  padding: 11px 12px;
  font-size: 22px;
  font-weight: bold;
}

.note textarea{
  flex:1 1 ;
  border: 0;
  padding: 11px;
  resize: none;
  box-sizing: border-box;
}

.completion-tick:hover {
  fill: #3385ff;
  cursor: pointer;
}

.animate{
  transform: scale(1);
}
